<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
  <h2>Thank you for your order <%= @current_user || 'User' %>!</h2>
  <h2> Your order was sent to <%= @order.email%></h2>
  <% @order.line_items.each do |item| %>
    <%= render 'orders/item', item: item %>
  <% end %>

  <h3>Total: $<%= Money.new(@order.total_cents, 'USD') %></h3>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
